/* ================ IMPORT FONT ============== */

@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

/* ================ RESET =================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================ VARIABLE ================ */

:root {
    --background: #FFFFFF;
    --texte-color: #60574b;
    --background-nav: #161616;
    --font-title: "Qwigley", cursive;
    --color-title:  #E0C184;
    --color-offer: #C2AFE4;
    --lien-couleur: #8b7963;
    --color-title-contact: #60574B;
    --background-color-table: #E4C6AF;
    --border-table: #CCCCCC;
    --background-table: #F2F2F2;
}

/* ============== SETUP =============== */

body {
    min-height: auto;
    font-family: "Open Sans";
    background: var(--background);
}

/* ================= HEADER ================= */

header {
    background: var(--background-nav);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

header img {
    padding: 1.5rem;
    height: 20vh;
}

header nav {
    display: flex;
    gap: 1.5rem;
}

header nav a {
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: .5rem;
    color: var(--color-title);
    font-family: var(--font-title);
    font-size: 2.7rem;
    padding: 10px;
}

header nav .contact:visited {
    color: var(--background);
}

/* ================= MAIN ================= */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    max-width: 100%;
    height: auto;
    padding: 4rem;
}

main .container {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main .container h1 {
    font-family: var(--font-title);
    color: var(--color-title-contact);
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

main .container table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-table);
}

main table caption {
    font-size: 1.5rem;
    background: var(--background-color-table);
    padding:1.5rem 20px;
    font-weight: 500;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texte-color);
}

main .container table tbody tr th {
    letter-spacing: 1px;
    padding:0 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texte-color);
}

main .container table tbody tr th {
    font-weight: 700;
    border: 1px solid var(--border-table);
}
  
main .container table tbody tr td {
    letter-spacing: 1px;
    padding:20px 20px 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--border-table);
    color: var(--texte-color);
    font-weight: 700;
}

main .container table tbody tr .date {
    width: 37%;
}

main .container table tbody tr .heure {
    width: 17%;
}

tbody tr:nth-child(odd) {
    background-color: var(--background);
}
  
tbody tr:nth-child(even) {
    background-color: var(--background-table);
}

main .container table tbody tr td a {
    color: var(--lien-couleur);
    font-family: Arial, Helvetica, sans-serif;
}

main .container h2 {
    font-family: var(--font-title);
    color: var(--color-title-contact);
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

/* ============ FORM ================== */

form {
    padding: 5rem 0;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

form .base {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    white-space: nowrap;
}

form .base div {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    white-space: nowrap;
    border-bottom: 1px solid var(--texte-color);
}

form .base div input {
    border: 0;
    width: 100%;
    padding-left: 3px;
}

form .mail {
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    white-space: nowrap;
}

form .mail div {
    border: 0;
    width: 100%;
    padding-left: 3px;
    border-bottom: 1px solid var(--texte-color);

}

form .mail div input {
    border: 0;
    width: 100%;
    padding-left: 3px;
}

/* ============= FOOTER =============== */

footer {
    height: 12vh;
    background: var(--background-nav);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--background);
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}
